extends ./bootstrap/_bootstrap
block body
	+navbar("")
	.container
		+panel-success("Confirmación lista")
			p Regresar al inicio
			+a-btn-primary("http://localhost:4200/login") Click Volver al formulario de inicio