<div class="container">
  <div class="row">
    <!--<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">-->
        <div class="card-body">
          <h5 class="card-title text-center">Inicio de sesión</h5>
          <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <div class="form-label-group">
              <input type="email" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" placeholder="Correo electronico" required autofocus>
              <label for="inputEmail">Correo electrónico</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña" required>
              <label for="inputPassword">Contraseña</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
            </div>
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <button class="btn btn-lg btn btn-outline-info btn-block text-uppercase" type="submit">Log in</button>
            <button class="btn btn-lg btn btn-outline-danger btn-block text-uppercase" routerLink="/register" type="submit">Register</button>
          </div>
          </form>
        </div>
  </div>
</div>
